/* FONTS LINKS */
@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&display=swap");

/* GENERAL STYLES */
:root {
  --mainFont: "Merriweather", serif;
  --subColor: #000000;
}

section {
  font-family: var(--mainFont);
}

/* BOT CONTACT STYLES */
.bot-contact {
  background-color: var(--subColor);
  font-family: var(--mainFont);
  padding: 0.5px;
}
.bot-contact p {
  text-align: right;
  color: #fff;
  font-size: 11px;
}

/* NAV STYLES */
/* NAV STYLES */
nav {
  background-color: #c4c4c4;
  font-family: var(--mainFont);
  font-weight: 200;
}

nav .nav-link {
  color: var(--subColor);
}
.current {
  color: #4f89aff6 !important;
}
.current:hover {
  color: #37b035 !important;
}

nav .nav-link:hover {
  color: #37b035;
}

nav .LAPCiTHub {
  color: #37b035;
}
nav .LAPCiTHub:hover {
  color: var(--subColor);
}

.lastma-hero {
  background-image: url("../images/lastma.jpeg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 61vh;
  border-radius: 13px;
}
.bus-hero {
  background-image: url("../images/bus.webp");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  height: 60vh;
  border-radius: 13px;
}
.division {
  padding: 10px;
  border-radius: 13px;
  height: 60vh;
}
.lastma-text {
  background-color: rgba(150, 190, 215, 1);
  background-repeat: no-repeat;
  background-position: center center;
  padding: 10px;
  text-align: center;
  color: #fff;
  height: 60vh;
  border-radius: 13px;
}
.bus-text {
  background-color: rgba(52, 65, 83, 1);
  background-repeat: no-repeat;
  background-position: center center;
  height: 60vh;
  padding: 10px;
  text-align: center;
  color: #fff;
  border-radius: 13px;
}

.bus-text h1,
.lastma-text h1 {
  margin: 30% 0 10% 0;
}

.bus-text a,
.lastma-text a {
  border: 1px solid #fff;
  color: #fff;
  padding: 13px;
  border-bottom-left-radius: 10px !important;
  border-top-right-radius: 10px !important;
  text-decoration: none;
}
.bus-text a {
  border: 1px solid #fff;
}
.btn-lasma {
  transition: 2s ease-in;
}
.btn-lasma:hover {
  border: 1px solid #fff;
  color: var(--subColor);
  background: inherit;
  transition: 3s ease in;
}
.lastma-text a {
  border: 1px solid var(--subColor);
}

@media only screen and (max-width: 320px) {
  .division {
    display: none;
  }
}

footer {
  text-align: center;
}

/* NNEKA */
/* text on top */
.text {
  text-align: end;
}

/* FORM STYLES */
/* form container */
.form-box {
  background-color: #1fabe8;
  border-radius: 2em;
  padding: 50px;
}
.form-width {
  width: 55%;
  margin: auto;
}

.btn-submit {
  padding: 10px 50px;
  border: none;
  background-color: #ff700abd;
  color: #fff;
}

section {
  font-family: var(--mainFont);
}

::placeholder {
  padding-left: 25px;
}
.padlock {
  position: relative;
  bottom: 30px;
  left: 10px;
}
.fa-unlock {
  position: relative;
  bottom: 30px;
  left: 10px;
}

.head {
  position: relative;
  bottom: 30px;
  left: 10px;
}

.btn-submit:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px (#fff);
}
.btn-submit:active {
  transform: translateY(-10x);
  box-shadow: 0 5px 10px rgb(0, 0, 0.5);
}

.btn-submit::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 100px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.4s;
}

.btn-submit:hover::after {
  transform: scaleX(1.4);
  opacity: 0;
  color: transparent;
}

/* SIGN UP PAGE */
.sign-up-hero {
  background-image: url("../images/signuphero.png");
  background-repeat: no-repeat;
  height: 50vh;
  background-size: cover;
}
/* LIVE UPDATE PAGE */
.map {
  background-image: url("../images/map.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 90vh;
}
.search {
  width: 40%;
  border-radius: 5px;
  padding: 30px;
}
.lasma-update {
  background-color: rgba(238, 222, 196, 1);
  padding: 10px;
  font-size: 16px !important;
}
.lasma-update-two {
  background: rgba(228, 226, 224, 1);
  padding: 10px;
  font-size: 16px !important;
}

/* june */
.hero-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("../images/nupo-deyon-daniel-67ruAEYmp4c-unsplash.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 60vh;
  z-index: 1;
}

.logo {
  padding-top: 7%;
  margin-left: 18%;
}
.hthree {
  color: #fff;
  font-size: 2.5rem;
  font-weight: 300;
}

.pee {
  color: #fff;
  font-size: 1.5rem;
  font-weight: 400;
}
.hero-text {
  margin-left: 15%;
}
.background1 {
  background: #1fabe8;
  height: 750px;
  border-radius: 40px;
  z-index: 2;
  position: relative;
}
.hfouur {
  color: #fff;
  font-weight: 400 !important;
}
.paste {
  margin-top: 5% !important;
  position: relative;
  margin: 0 0 0 150px;
}

.paste .map {
  position: absolute;
  left: 43%;
  top: 50%;
  transform: translate(-50%, -10%);
}

img {
  border-radius: 2em;
}
.text {
  margin-left: 3.7%;
  margin-top: 5%;
}
.aaa {
  font-size: 1.1rem;
}
.aaa:hover {
  color: rgb(245, 188, 83) !important;
}

/* one */
.division1 {
  position: relative;
  text-align: left;
  height: 400px;
  background: #f96900;
  border-radius: 50px 0px 0px 50px;
}

.one {
  /* margin-left: 10%; */
  position: absolute;
  top: 50%;
  left: 45%;
  transform: translate(-50%, -50%);
}

.division0 {
  width: 60%;
  height: 400px;
  align-self: center !important;
  border: 1px solid #6d6150;
  box-sizing: border-box;
  border-radius: 20px;
}
.bgimage {
  background-image: url("../images/lagos-state.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 400px;
  border-radius: 0px 50px 50px 0px;
}

/* two */
.bgimagee {
  background-image: url("../images/Q30k9kpTURBXy85NzhjMGExMzY2NjBmNjEyODRiODFhNjA5YjY2OTZhZi5qcGeSlQMBAM0DBc0Bs5MFzQOYzQH0gaEwBQ.webp");
  height: 400px;
  border-radius: 50px 0px 0px 50px;
}
/* .division0 {
  width: 110px;
  height: 450px;
  left: 668px;
  top: 1892px;
  margin-left: 25%;
  border: 1px solid #6d6150;
  box-sizing: border-box;
  border-radius: 20px;
} */
.division2 {
  position: relative;
  height: 400px;
  text-align: right;
  background: #2c619d;
  border-radius: 0px 50px 50px 0px;
}

.two {
  /* margin-left: 10%; */
  position: absolute;
  top: 50%;
  left: 65%;
  transform: translate(-50%, -50%);
}

/* three */
.division3 {
  position: relative;
  text-align: left;
  height: 400px;
  background: #b11b27;
  border-radius: 50px 0px 0px 50px;
}
/* .division0 {
  width: 110px;
  height: 450px;
  left: 668px;
  top: 1892px;
  margin-left: 25%;
  border: 1px solid #6d6150;
  box-sizing: border-box;
  border-radius: 20px;
} */
.bgimageee {
  background-image: url("../images/how-to-help-the-black-community-cat.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 400px;
  border-radius: 0px 50px 50px 0px;
}
/* four */
.bgimageeee {
  background-image: url("../images/Tanker\ fire\ accident.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 400px;
  border-radius: 50px 0px 0px 50px;
}
/* .division0 {
  width: 110px;
  height: 450px;
  left: 668px;
  top: 1892px;
  margin-left: 25%;
  border: 1px solid #6d6150;
  box-sizing: border-box;
  border-radius: 20px;
} */
.division4 {
  height: 400px;
  position: relative;
  text-align: right;
  background: #1fabe8;
  border-radius: 0px 50px 50px 0px;
}

.hfive1 {
  color: #fff;
}
.hfive2 {
  color: #fff;
}
.text1 {
  font-size: 1rem;
}
.text2 {
  font-size: 1rem;
}

.btnn {
  width: 166px;
  height: 63.73px;
  left: 1144px;
  top: 2727px;
  background-color: transparent;
  border: 1px solid #fff;
  box-sizing: border-box;
  border-radius: 20px;
}
.btnn a {
  text-decoration: none;
  color: #fff;
}
.text-box {
  background: #344153;
  border-radius: 2em;
  padding: 150px;
  margin: 10px 20px;
}

.heading {
  color: #fff;
  text-align: center;

  animation-name: moveInLeft;
  animation-duration: 5s;
  animation-timing-function: ease-in-out;
}

.main {
  color: #fff;
  text-align: center;

  animation-name: moveInLeft;
  animation-duration: 3s;
  animation-timing-function: ease-in-out;
}

.sub {
  color: #fff;
  text-align: center;

  animation-name: moveInLeft;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }

  80% {
    transform: translateX(10px);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}

.header {
  text-align: center;
}

.hero {
  background-image: url("/assets/images/traffic\ 1T.png");
}
.textarea {
  width: 100%;
  height: 150px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid;
  border-radius: 4px;
  resize: none;
}

.btn-submit {
  padding: 10px 50px;
  border: none;
  background-color: #1fabe8;
  color: #fff;
}
